.card-scroll-outer-wrapper {
  overflow: hidden;
  padding-left: 30px;
  position: relative;
}

.card-scroll-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.card-item {
  flex: 0 0 auto;
  width: 260px;
}
.scroll-buttons{
    height: 50px;
    width: 50px;
    border-radius: 50%!important;
        
}
.card-item img {
  transition: transform 0.3s ease-in-out;
}

.card-item img:hover {
  transform: scale(1.05);
}





