.quote-wrapper {
  background: linear-gradient(to right, #e9f0ff, #fffef4);
  padding: 4rem 2rem;
  min-height: 100vh;
}

.left-panel {
  max-width: 500px;
}

.right-panel {
  background-color: #fffcf5;
  border-radius: 1.5rem;
  max-width: 600px;
  width: 100%;
}

.quote-form label {
  font-weight: 500;
}

.quote-form .form-control {
  height: 60px;
}

.quote-form input[type="radio"] {
  accent-color: black;
}


@media (max-width: 768px) {
  .quote-wrapper {
    padding: 2rem 1rem;
  }

  .quote-wrapper h1 {
    font-size: 2rem;
  }

  .right-panel {
    padding: 2rem 1rem;
  }

  .modal-body h4 {
    font-size: 1.5rem;
  }

  .modal-body p {
    font-size: 0.95rem;
  }
}