.feature-image{
   border-radius: 12px;
  height: 300px;
  width: 380px;
  /* height: 100vh; */
  background-position: center;
  object-fit: cover;
  /* width: 100%; */
  
}

.feature-title{
    font-size: 26px;
}
.s-heading{
    font-size: 46px;
    font-weight: normal;
}