.banner-wrapper {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner-content {
  max-width: 800px;
  margin: 0 auto;
}
.banner-heading {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.subheading {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}
.small-heading {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.check-item {
  font-size: 1.125rem;
  line-height: 1.5;
}
.check-icon {
  color: #0d6efd;
  font-size: 1.25rem;
}




@media (max-width: 767.98px) {
  .banner-heading {
    font-size: 2rem;
  }

  .subheading,
  .check-text {
    font-size: 1rem;
  }

  .check-icon {
    font-size: 1rem;
  }

  .banner-content {
    text-align: center !important;
  }

  .checklist {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
  }

  .banner-overlay {
    padding: 2rem 1rem;
  }
}
